#say_no_more_container {
    display: flex;
    width:100%;
    overflow: scroll;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    flex-direction: row;
}

.say_no_more_item {
        min-width: 120px;
        border:.1px solid gray;
        color: whitesmoke;
        background-image: linear-gradient(15deg,#c31432,#240b36);
        margin:8px;
        padding: 32px;
        border-radius: 32px;
        width: 16.6%;
    
}
