#say_no_more_container {
    display: flex;
    overflow: scroll;
    position: relative;
    flex-direction: row;
}

.say_no_more_item {
        min-width: 120px;
        border:.1px solid gray;
        color: whitesmoke;
        background-color: rgb(51, 61, 108);
        margin:4px;
        padding: 32px;
        border-radius: 32px;
        width: 16.6%;
    
}
