.app_menu_list {
    list-style: none;
    width: 100%;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.app_menu_item {
    color: whitesmoke;
    display: flex;
    cursor: pointer;
    align-items: center;
    transform: translateX(-30px);
    position: relative;
}

.app_menu_item_activated {
    color: whitesmoke;
    display: flex;
    cursor: pointer;
    background-color: var(--PRIMARY_PINK);
    align-items: center;
    position: relative;
}

.app_menu_item img {
    width: 20px;
    padding-right: 8px;
    padding-left: 16px;
    height: 20px;
}

.app_menu_item p {
    font-size: 14px;
}

.app_menu_item_holder {
    color: whitesmoke;
    display: flex;
    cursor: pointer;
    max-height: 40px;
    align-items: center;
    position: relative;
}

.app_menu_item_holder_activated {
    color: whitesmoke;
    display: flex;
    max-height: 40px;
    background-color: var(--PRIMARY_PINK);
    cursor: pointer;
    align-items: center;
    width: 100vw;
    position: relative;
}

.app_menu_item_decor_2 {
    height:80px;
    width: 10px;
    position: absolute;
    left:0;
    transform: rotate(25deg) translateX(20px) translateY(-20px);
    margin-left: 8px;
    background-color: var(--PRIMARY_BLACK);
}
.app_menu_item_decor_3 {
    height:80px;
    width: 29px;
    position: absolute;
    left:0;
    transform: rotate(20deg) translateX(-20px) translateY(-5px);
    margin-left: 8px;
    background-color: var(--PRIMARY_BLACK);
}
.app_menu_item_decor_4 {
    height:80px;
    width: 10px;
    position: absolute;
    left:0;
    transform: rotate(45deg) translateX(60px) translateY(-20px);
    margin-left: 8px;
    background-color: var(--PRIMARY_BLACK);
}

.app_menu_item_activated p {
    font-size: 14px;
}

.app_menu_item_activated img {
    width: 20px;
    padding-left: 16px;
    padding-right: 8px;
    transform: translateX(-28px);
    height: 20px;
}

.app_menu_item_activated p {
    transform: translateX(-28px);
}

.app_menu_item_decor {
    height: 0px;
    width: 0px;
    border-left: 20px solid transparent;
    border-bottom: 40px solid var(--PRIMARY_PINK);
    transform: translateX(35px) translateY(-10px);
    position: absolute;
    background-color: transparent;
}