.gallery_img:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: linear 0.5s;
  box-shadow: 0px 0px 4px .1px #f9f9f9;
}

#gallery_container {
  
  overflow: scroll;
  display: flex;
  direction: rtl;
  padding-bottom: 32px;
}