
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans Hebrew', serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(36,38,43);
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
}
html {
overflow-x: hidden;
}

button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  
  background-image: linear-gradient(rgb(82, 90, 128),rgb(66, 75, 118),rgb(62, 69, 100));
  padding: 14px 24px;
  font-family: 'Open Sans Hebrew';
  font-size: 18px;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 400ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.heavy {
  font-weight: 800;
}
.bold {
  font-weight: 600;
}
.light {
  font-weight: 200;
}

.open {
  font-family: 'Open Sans Hebrew', serif;
}
.open-con {
  font-family: 'Open Sans Hebrew Condensed', serif;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}
