@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
  box-shadow: 0 0 0 30px rgba(0, 0, 0, 0) inset !important;
}

body {
  margin: 0;
  --ORANGE_GRADIENT_SECONDARY: linear-gradient(#bd3333, orangered, orange, orange);
  --TOOLBAR_COLOR: rgb(36, 38, 43);
  --PRIMARY_BLACK: rgb(29, 31, 34);
  --PRIMARY_ORANGE: orange;
  --PRIMARY_PINK: #DC23B1;
  --SECONDARY_BLACK: rgb(65, 68, 82);
  --PRIMARY_WHITE: rgb(255, 255, 255);
  --SECONDARY_WHITE: whitesmoke;
  --DARK_BLACK: linear-gradient(#ffc93c, #ff7a3c, #ff6f3c);
  --DARKER_BLACK_SELECTED: linear-gradient(#ffc93c, #ff5f3c, #ff6a3c);
  --ORANGE_GRADIENT_PRIMARY: linear-gradient(rgb(82, 90, 128), rgb(66, 75, 118), rgb(62, 69, 100));
  --ORANGE_RED_GRADIENT_BUTTON: linear-gradient(#e52d27, #b31217);
  --BLACK_ELEGANT: linear-gradient(#282c34, black);
  --BLACK_ROYAL: linear-gradient(#243B55, #141E30);
  --RED_ROYAL: linear-gradient(#ef473a, #cb2d3e);
  font-family: 'Open Sans Hebrew', serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--PRIMARY_BLACK);
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.light_hline {
  height: 1px;
  background-color: whitesmoke;
  border: none;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;

}


* {
  -ms-overflow-style: none;

}

::-webkit-scrollbar {
  display: none;
}

button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;

  background-image: linear-gradient(rgb(82, 90, 128), rgb(66, 75, 118), rgb(62, 69, 100));
  padding: 14px 24px;
  font-family: 'Open Sans Hebrew';
  font-size: 18px;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 400ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.heavy {
  font-weight: 800;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 200;
}

.open {
  font-family: 'Open Sans Hebrew', serif;
}

.open-con {
  font-family: 'Open Sans Hebrew Condensed', serif;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}